@import "./foundations/_base.scss";

.tutor {
  .steps {
    li {
      list-style: none;
      margin-bottom: ($grid-unit * 2);

      svg {
        width: ($grid-unit * 2);
        height: ($grid-unit * 2);
        margin-right: ($grid-unit * 2);
      }

      span {
        margin-right: ($grid-unit * 3);
      }
    }

  }

  .current-steps {
    margin: 0 0 0 ($grid-unit * 3);
    padding: 0 0 0 ($grid-unit * 2);

    li {
      list-style: circle;
    }
  }
}